@model SkiApp.Domain.DomainModels.SkiPass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SkiPass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidUntil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkiResort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkiResort.Difficulty)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
